:root {
    --code-background-color: rgb(213 213 213);
    --code-text-color: #000;
    --tag-border-radius: 4px;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    --accent-color: #34495e;
    --accent-color-darker: #2c3e50;
    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;
}