<div class="site">
    <div>
        <div class="site-meta">
            <h1 class="site-name">
                <a href="{{ .Site.BaseURL | relLangURL }}">
                    {{ .Site.Title }}
                </a>
            </h1>
            <h2>
                <div class="site-daohang">
                    {{- range .Site.Menus.main -}}
                    {{ if .HasChildren }}
                    <div class="dropdown">
                        <a {{ if .URL }}href="{{ .URL }}" {{ else }}href="javascript:void(0);" {{ end }}
                            class="menu-item menu-more dropbtn" title="{{ .Title }}" {{ if eq .Post "_blank"
                            }}target="_blank" rel="noopener" {{ end }}>
                            {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end
                            }}
                        </a>
                        <div class="menu-more-content dropdown-content">
                            {{- range .Children -}}
                            {{- $url := .URL | relLangURL -}}
                            {{- with .Page -}}
                            {{- $url = .RelPermalink -}}
                            {{- end -}}
                            <a href="{{ $url }}" title="{{ .Title }}" {{ if eq .Post "_blank" }}target="_blank"
                                rel="noopener" {{ end }}>{{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{
                                .Post | safeHTML -}}{{ end }}</a>
                            {{- end -}}
                        </div>
                    </div>
                    {{ else }}
                    {{- $url := .URL | relLangURL -}}
                    {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                    {{- end -}}
                    <a class="menu-item{{ if $.IsMenuCurrent `main` . | or ($.HasMenuCurrent `main` .) | or (eq $.RelPermalink $url) }} active{{ end }}"
                        href="{{ $url }}" {{ with .Title }} title="{{ . }}" {{ end }}{{ if (urls.Parse $url).Host }}
                        rel="noopener noreffer" target="_blank" {{ end }}>
                        {{- .Pre | safeHTML }} {{ .Name }} {{ if ne .Post "_blank" }}{{ .Post | safeHTML -}}{{ end }}
                    </a>
                    {{- end -}}
                    {{- end -}}
                </div>
            </h2>
        </div>
    </div>
</div>