.home {
    background-color: #fff;
    margin: 1% 16% 0% 16%;
    padding: 1% 1% 1% 1%;
}

.home-site {}

.home-site-name {
    text-align: center;
    padding: 0% 0% 10% 0%;
    width: auto;
}

.home-site-name1 {
    margin: 0;
}

.site-logo {
    margin: 0 auto;
    width: 100px;
    border-radius: 100%;
}