.setup-button {
    background-color: #fff;
    position: fixed;
    margin-left: 86%;
    margin-top: 40%;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.setup-img {
    margin: 30px 30px 40px 40px;
}